/** надіюсь що добре, бо не ширина екрану не відповідає і дуже важко тестити, що відбувається на сторінцію Дякую за розуміння))**/
/**Дякую, тепер все вийшло))**/
body {
	font-family: sans-serif;
position: relative;
}

.chat {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1;
}

.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
}
.header-logo {
	display: flex;
	align-items: center;
	background-color: #10BBD5;
	padding-inline: 52px;
}

.header-logotype {
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
	text-align: left;
	color: #F8FDFE;
	padding-left: 4px;
}

.header-logo-link {
	display: flex;
	padding-block: 21px;
}

.header-logo-text {
	font-size: 16px;
	line-height: 24px;
	text-align: left;
	margin-left: auto;

	padding-right: 8px;
}

.header-cart-button {
	width: 40px;
	height: 40px;

	padding-block: 16px;

	background-image: url(../images/cart_icon.png);
	background-color: #10BBD5;
	background-repeat: no-repeat;
	border: none;
}

.header-menu {
	display: flex;
	align-items: center;
	background-color: #FFFFFF;
}

.header-menu-title {
	padding-left: 52px;
}

.header-menu-title,
.header-menu-link {
	font-size: 16px;
	line-height: 24px;
	text-align: left;
	color: black;

	padding-block: 4px;
}

.header-menu-list {
	display: flex;
	margin-left: auto;
	padding-right: 52px;
}

.header-menu-item {
	padding-left: 40px;
}

.container {
	background-color: #EEEEEF;
}

.hero-menu {
	padding-inline: 52px;
}

.hero-menu-title {
	font-size: 32px;
	font-weight: 600;
	line-height: 40px;
	text-align: left;
	color: #1F1F1F;
	border-bottom: 1px solid #A8A8A8;

	margin-top: 100px;
	padding-top: 32px;
	padding-bottom: 23px;
padding-left: 52px;
}

.hero-menu-collection {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;

	padding-top: 24px;
}

.hero-menu-book {
	position: relative;
	border: 1px solid #A8A8A8;
	background-color: #F8FDFE;
	padding: 32px;
	align-items: center;
}

.hero-menu-discount {
	display: flex;
}
.hero-menu-badge {
	position: absolute;
	padding-top: 32px;
	padding-left: 32px;
	width: 36px;
	background-color: #4200FF;

}

.hero-menu-badgen {
	position: absolute;
	padding-top: 32px;
	padding-left: 32px;
	width: 47px;
	background-color: #AF39E7;
}

.hero-menu-badge,
.hero-menu-badgen,
.hero-menu-badgeall,
.hero-menu-badgdeal {
	color: #F8FDFE;
	text-align: center;
	padding: 8px 4px;
	border-radius: 10%;

	
}

.hero-menu-badgeall {
	position: absolute;
	margin-left: 50px;

	width: 58px;
	background-color: #EA33C0;
}

.hero-menu-badgdeal {
	position: absolute;
	

	width: 58px;
	background-color: #EA33C0;
}

.hero-menu-image {
	padding-inline: 32px;
}

.hero-menu-name {
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
	text-align: left;
	padding-top: 16px;


	border-bottom: 1px solid #A8A8A8;
}

.hero-name-book {
	color: #1F1F1F;
}

.hero-menu-author {
	font-size: 16px;
	line-height: 24px;
	text-align: left;

	color: #8E8E8E;

}


.hero-menu-price {
	font-size: 24px;
	font-weight: 500;
	line-height: 32px;
	text-align: left;

	color: #E90000;
	margin-top: 8px;
}

.hero-menu-price span {
	text-decoration: line-through;
	color: #8E8E8E;
	padding-top: 8px;
	padding-left: 24px;
}

.hero-menu-basket {
	background-color: #4C394E;
	text-wrap: nowrap;

	padding: 8px 70px;
}

.hero-menu-accent {
	background-color: #4D762D;
	padding: 8px 90px;
}

.hero-menu-basket,
.hero-menu-accent {
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #F8FDFE;
	border: none;

	margin-top: 16px;
}


footer {
	background-color: #4C394E;
	margin-top: 120px;
}

.footer-content {
	display: flex;
	padding-inline: 52px;
}

.footer-content-mail,
.footer-content-reserved {
	font-size: 16px;
	line-height: 24px;
	text-align: left;
	color: #F8FDFE;
	padding-block: 32px;
}

.footer-content-reserved {
	margin-left: auto;
}